.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  gap: 10px;
  margin-bottom: 10px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.tablee {
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
}
/* /* input[type="text"],
input[type="number"] {
  padding: 5px;
} */

button {
  padding: 5px 10px;
  margin-top: 10px;
}

button:first-child {
  margin-right: 10px;
}
